@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
    width: 85%;
    height: 100%;
    margin: 2rem auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.chat-col {
    height: 300px;
    width: 350px;
    border: 2px solid black;
}

.chat-box {
    overflow: hidden;
    overflow-y: scroll;
    height: 280px;
    width: 350px;
}

.chat-box::-webkit-scrollbar {
    width: 10px;
}

.chat-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
}

.messages .message-contents {
    height: min-content;
    padding: 5px 10px;
    margin: 5px 3px;
    border-radius: 15px;
    font-size: 15px;
}

.messages > li {
    list-style: none;
    padding: 0 8px;
    margin: 2px 3px;
    font-size: 15px;
}

.message-form {
    display: flex;
    bottom: 0;
}

.msg-input {
    flex-grow: 1;
}

.msg-input:focus {
    outline: none;
}

.canvas {
    border: 2px solid black;
}

.canvas-col {
    width: 65%;
}

.tools-row {
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.color-picker {
    height: 100%;
}

.brush-size-group {
    display: flex;
    height: 100%;
}

.brush-size {
    width: 45px;
    height: 100%;
    text-align: center;
}

input {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #e6e6e6;
}

button.active {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

button:focus {
    outline: none;
}

.brush-size-group > button {
    height: 100%;
    width: 25px;
    padding: 5px 5px;
    text-align: center;
}

.tools > button {
    height: 100%;
    line-height: 1.5;
    padding: 5px 5px;
    text-align: center;
    align-self: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: grey;
}

/* 
 * Originally tried to change cursor via JS, but didn't work
 * Alternate method to change cursor by adding and removing classes
 */
.pen-cursor {
    cursor: url("../images/mechanical-pen.png") 0 16, default;
}
.eraser-cursor {
    cursor: url("../images/eraser.png") 0 16, default;
}
.fill-cursor {
    cursor: url("../images/bucket.png") 0 16, default;
}

.prompt {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-top: 5%
}

.prompt h3 {
    text-align: center;
    font-size: 26px;
}

.form {
    border: 2px solid black;
    border-radius: 15px;
    height: min-content;
    box-shadow: 5px 7px 11px -3px rgba(0,0,0,0.67);
    padding: 1rem 3rem;
}

.form > .row {
    height: 25px;
}

.form > .row * {
    height: 100%;
}

.form input[type="text"] {
    border-radius: 10px;
    transition: all 1s ease, border-radius 0s;
    width: 100%;
    padding-left: 8px;
    border: #999999 solid 2px;
    outline: none;
}

.form input[type="text"]:focus {
    border: #32a8e3 solid 2px;
}

.form label h3 {
    margin: 0 auto;
    margin-bottom: 1rem;;
}