* {
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
    width: 85%;
    margin: 2rem auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.chat-col {
    width: 50vh;
    height: 45vh;
    border: 2px solid black;
}

.chat-box {
    height: 100%;
    width: 100%;
}

.message-form {
    display: flex;
    bottom: 0;
    transform: translateY(-100%);
}

.input {
    flex-grow: 1;
}

.input:focus {
    outline: none;
}

.canvas {
    border: 2px solid black;
}

.canvas-col {
    width: 65%;
}

.tools-row {
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.color-picker {
    height: 100%;
}

.brush-size-group {
    display: flex;
    height: 100%;
}

.brush-size {
    box-sizing: border-box;
    text-align: center;
    width: 45px;
    height: 100%;
}

button {
    cursor: pointer;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #e6e6e6;
}

button.active {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

button:focus {
    outline: none;
}

.brush-size-group > button {
    height: 100%;
    width: 25px;
    padding: 5px 5px;
    text-align: center;
}

.tools > button {
    height: 100%;
    line-height: 1.5;
    padding: 5px 5px;
    text-align: center;
    align-self: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: grey;
}

/* 
 * Originally tried to change cursor via JS, but didn't work
 * Alternate method to change cursor by adding and removing classes
 */
.pen-cursor {
    cursor: url("../images/mechanical-pen.png") 0 16, default;
}
.eraser-cursor {
    cursor: url("../images/eraser.png") 0 16, default;
}
.fill-cursor {
    cursor: url("../images/bucket.png") 0 16, default;
}